name: Build and Push Multi-Architecture Docker Image
 
on:
  push:
    branches:
      - main
    paths:
      - Dockerfile
      - .github/workflows/docker-image.yml
      - package.json

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Set Docker tags
        id: set_tags
        run: |
          REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "DOCKER_TAG=ghcr.io/$REPO_LOWER:latest" >> $GITHUB_ENV
          echo "DOCKER_TAG_SHA=ghcr.io/$REPO_LOWER:${{ github.sha }}" >> $GITHUB_ENV

      - name: Build and Push Multi-Arch Docker Image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t ${{ env.DOCKER_TAG }} \
            -t ${{ env.DOCKER_TAG_SHA }} \
            --push .
